@import "../../app/variableStyle/variables.scss";
.gameList,.shortList{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    width: 100%;
    overflow-x: auto; 
    height: auto;
}
.gameList{
    justify-content: flex-start;
    align-items: flex-start;
}
.shortList{
    justify-content: center;
    align-items: center;
}
.cardGame{
    display: flex;
    flex-shrink: 0; 
    flex-direction: column;
    justify-content: space-between;
    width: 18rem; 
    margin: 0;
    height: 100%;
    background-color: #1d1c1d !important;
    padding: 0.5rem;
    .gameImg{
        object-fit: cover;
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }
    .gameName{
        // font-size: 1.5rem;
        font-size: 1.5rem;
        color: #fff;  
        min-height: 4rem;  
    }
    .bodyText{
        flex-grow: 1;
    }
    .btnContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        .btn{
            background-color: $darkTextColor !important;
            width:7rem;
            border-color: transparent !important;
            &:hover{
                cursor: pointer;
            }
        }
        .btnTxt{
            font-size: 0.8rem;
        }
    }
    
}
.cardBody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between; 
  }
  @media(max-width:$mediumWindowSize){
    .cardGame{
    .cardGame{
        width: 16rem; 
    }
    }
  }
.txt{
    font-size: 1.4rem;
}
.labelTxt{
    font-size: 1.6rem;
}
.gameName,.description{
    font-size: 1rem;
} 