@import "../../variableStyle/variables.scss";

.loginBtn{
    padding: 1rem;
    border-radius: 10px;
    background-color: $primaryBtbColor !important;
    border-color: $primaryBtbColor !important;
    &:hover{
        cursor: pointer;

    }
    .btnTitle{
        font-size: 3rem;
        color: #fff;
    }
}