@import "../../app/variableStyle/variables.scss";
.mainContainer{
    border: 1px solid $lightTextColor;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0.4rem;
    min-width: 210px;
    height: 270px;
    background-color: transparent;
    
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .userAvatar{
            border: 0.3px solid #fff;
            border-radius: 35px;
        }
    }
    .label{
        font-size: 1.8rem;
        color: #fff;
    }
    .labelContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        font-size: 1.5rem;
        color: #fff;
    }
    .infoTxt{
        font-size: 3rem;
        color: #fff;
        margin-left: 1rem;
    }
    .number{
        font-size: 2rem;
    }
    .body{
        display: flex; 
        flex-direction: column;
    }
    .btn{
        background-color: $darkTextColor;
        border-color: transparent;
        &:hover{
            background-color: $darkTextColor;
            border-color: transparent;
        }
    }
    .statusIcon{
        font-size: 2rem;
        text-align: center;
        color: green;
    }
}