@import "../../app/variableStyle/variables.scss";
.title{
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.itemContainer{
    text-align: center;
}
.gameImg{
    width: 75%;
}
.gameName{
    color: #fff;
    font-size: 3rem;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.secondContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.gifContainer{
    width: 50rem;
}
@media(max-width:$mediumWindowSize){
    .title{
        font-size: 2.5rem;
    }
}