@import "../../app/variableStyle/variables.scss";
.title{
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.itemContainer{
    text-align: center;
}
.gameImg{
    width: 75%;
}
.gameName{
    color: #fff;
    font-size: 3rem;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.profileRankingContainer{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.profileCardContainer{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 2rem;
}
@media(max-width:$mediumWindowSize){
    .title{
        font-size: 2.5rem;
    }
}