.mainContainer{
    display: flex;
}
.leftContainer,.rightContainer{
    height: auto;
    background-size: cover; 
    background-position:center; 
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.highlightMsg{
    font-size: 4rem;
    color: #B084C5;
}
.leftContainer{
   background-image: url('../../../../public/images/rabbit_head.jpg');
   display: flex;
   justify-content: center;
   align-items: flex-end;
   .leftDrescriptionMsg{
    font-size: 4rem;
    color:#7A3C97;
    margin-bottom: 1rem;
   }
}
.rightContainer{
    background-image: url('../../../../public/images/dark_rabbit.jpg');
    .mainRightContainerContent{
        margin-left: 4rem;

        .title,.loginTxt{
            font-size: 6.4rem;
          }
          .title{
              color:#811F89; 
          }
          .loginTxt{
              color: #fff;
          }
          .titleContainer{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 1.5rem;
      
          }
    }
    
}