@import "../../app/variableStyle/variables.scss";
.label{
    font-size: 1rem;
    color: #fff;
}
.info{
    font-size: 1.5rem;
    color: #fff; 
}
.infoRating{
    font-size: 2rem;
    color: #fff;
}
.title{
    font-size: 2rem;
    color: #fff;
}
.gameCard{
    background-color: transparent !important;
    &:hover{
        background-color: #fff !important;
        .info, .infoRating{
            color: #000;
        }
    }
}
.ratingContainer{
    margin-left: 0.5rem;
}
.rankingContainer{
    border: 1px solid $lightTextColor;
    border-radius: 10px !important;
    padding: 1rem;
}
.cardContent{
    display: flex;
    justify-content: space-between;
}